$primary: #bf4080;
$primary_light: #c487a5;
$second_primary: #2b1e70;
$second_primary_light: #252d9b;

$text: #190134;
$text_light: #685879;
$text_gray: #b3abbc;
$text_link: #252d9b;

$success: #5cc689;
$fail: #ee7d52;
